langgraph>=0.2.0
langchain-core>=0.2.0
python-dotenv>=1.0.0
langchain-groq>=0.2.0
mcp[cli]>=1.4.0
requests>=2.31.0
python-dotenv>=1.0.0
typing-extensions>=4.0.0
langchain-mcp-adapters
langchain_community
gradio
plotly
pandas
numpy
networkx
pyvis
duckdb
langchain_chroma
langchain_openai
langchain_huggingface
sentence-transformers
pdfminer.six